.swiper{
    position: relative;
    height: 360px;
    padding: 0 80px 50px;

    .swiper-component{
        position: relative;
        height: 100%;
        width: 100%;

        .slide-item{
            position: relative;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }

    // 轮播上下类
    :global .swiper-navigation {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 50%;
        margin-top: -30px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-weight: bold;
        font-size: 28px;
        border-radius: 50%;
        cursor: pointer;
    }
    :global .next{
        right: 0;

        &:hover{
            -webkit-box-shadow: -4px 4px 18px 0 rgba(0,0,0,0.2);
                    box-shadow: -4px 4px 18px 0 rgba(0,0,0,0.2);
        }
    }
    :global .prev{
        left: 0;

        &:hover{
            -webkit-box-shadow: 4px 4px 18px 0 rgba(0,0,0,0.2);
                    box-shadow: 4px 4px 18px 0 rgba(0,0,0,0.2);
        }
    }
    // 轮播分页
    :global .swiper-pagination{
        position: relative;
        bottom: -5px;

        .swiper-pagination-item{
            position: relative;
            width: 15px;
            height: 15px;
            display: inline-block;
            border-radius: 50%;
            margin: 0 5px;
            border: 1px solid #ccc;

            &.swiper-pagination-item-active{
                background: rgb(76 76 76);
                border-color: rgb(76 76 76);
            }
        }
    }
}